{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Departments</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            {% for department in departments %}
            <div class="col-md-4 col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="{% url 'adminstration:department' department_id=department.pk %}">
                            <p class="mb-0">{{ department.name }}</p>
                            <p class="mb-0">{{ department.hod }}</p>
                            <div class="card-footer">
                               <div class="row">
                                <div class="col"> <p class="mb-0">Divisions: {{ department.divisions.count }}</p>
                                  </div>
                                  <div class="col">  <p class="mb-0">Staff: {{ department.staff_count }}</p></div>
                               </div>
                            </div>
                            
                        </a>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <section class="card">
                    <div class="card-body text-secondary text-center">
                        <a href="{% url 'adminstration:create_department' %}" class="btn btn-primary btn-lg btn-block" style="background-color: #5C0E7B;; color: white;">
                             Add New Department
                        </a>
                    </div>
                </section>
            </div>
        </div>
        
</div>


{% endblock content %}

