{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="page-header float-left">
                    <div class="page-title text-center">
                        <h1>Admin Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    
    <div class="row">
        <div class="col-lg-3">
           <a href="{% url 'adminstration:boardmembers' %}">
            <section class="card">
                <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                  <h2 class="card-title text-white">Board Members</h2>
                </div>
              </section>  
           </a>            
        </div>
        <div class="col-lg-3">
           <a href="{% url 'adminstration:departments' %}">
            <section class="card">
              <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Departments</h2>
              </div>
            </section>  
           </a>            
        </div>
        <div class="col-lg-3">
            <section class="card">
                <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                  <h1 class="card-title text-white">Divisions</h1>
                </div>
              </section>              
        </div>
        <div class="col-lg-3">
            <section class="card">
                <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                  <h1 class="card-title text-white">Sections</h1>
                </div>
              </section>              
        </div>
    </div>

     
    <div class="row">
      <div class="col-lg-3">
         <a href="{% url 'adminstration:boardmembers' %}">
          <section class="card">
              <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Staffs</h2>
              </div>
            </section>  
         </a>            
      </div>
      <div class="col-lg-3">
          <section class="card">
              <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Documents</h2>
              </div>
            </section>              
      </div>
      <div class="col-lg-3">
          <section class="card">
              <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h1 class="card-title text-white">Applications</h1>
              </div>
            </section>              
      </div>
      <div class="col-lg-3">
          <section class="card">
              <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h1 class="card-title text-white">Facilities</h1>
              </div>
            </section>              
      </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
       <a href="{% url 'adminstration:boardmembers' %}">
        <section class="card">
            <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h2 class="card-title text-white">Tasks</h2>
            </div>
          </section>  
       </a>            
    </div>
    <div class="col-lg-3">
        <section class="card">
            <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h2 class="card-title text-white">News</h2>
            </div>
          </section>              
    </div>
    <div class="col-lg-3">
        <section class="card">
            <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h1 class="card-title text-white">Schedules</h1>
            </div>
          </section>              
    </div>
    <div class="col-lg-3">
        <section class="card">
            <img src="{% static 'main/images/admin/users.png' %}" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h1 class="card-title text-white">Messaging</h1>
            </div>
          </section>              
    </div>
</div>
  
    
</div>

{% endblock content %}
