{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Departments</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            {% for department in departments %}
            <div class="col-md-4 col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="{% url 'core:departmentdetail' pk=department.pk %}">
                            <p class="mb-0">{{ department.name }}</p>
                            <p class="mb-0">{{ department.hod }}</p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <p class="mb-0">Divisions: {{ department.divisions.count }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Staff: {{ department.staff_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Staffs</strong>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Job Type</th>
                                <th scope="col">Date Started</th>
                                <th scope="col">Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staff in staff_members %}
                            <tr>
                                <td>{{ staff.user.get_full_name }}</td>
                                <td>{{ staff.job_type }}</td>
                                <td>{{ staff.date_started }}</td>
                                <td>{{ staff.section.division.department.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
