{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edit your profile information</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        {% if user.username == form.instance.user.username %}
        <div class="row">
            <div class="col">
                <fieldset class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.job_type|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.position|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.education|as_crispy_field }}
                        </div>
                    </div> 
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.skills|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.awards|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.professional_associations|as_crispy_field }}
                        </div>
                    </div> 
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.personal_interest|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.career_statement|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.work_history|as_crispy_field }}
                        </div>
                    </div> 
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.bio|as_crispy_field }}
                        </div>
                    </div> 
                </fieldset>
                
                <a href="{% url 'password_change' %}">Change password?</a>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-success" type="submit">Update</button>
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}
